body {
    background-color: lightblue;
}

#nav-bar {
    margin-right: auto;
    margin-left: auto;

    display: flex;
    flex-flow: row nowrap;
}

#nav-bar * {
    margin-left: 5px;
    margin-right: 5px;
}

#nav-bar a {
    text-decoration: none;
}

#nav-bar a:link {
    color: black;
}
#nav-bar a:visited {
    color: black;
}
#nav-bar a:hover {
    color: darkgray;
}
#nav-bar a:active {
    color: darkgray;
}