body {
    display: flex;
    flex-flow: column nowrap;
}

#logo-img {
    margin-right: auto;
    margin-left: auto;
}

#login-form {
    width: 15%;
    margin-right: auto;
    margin-left: auto;

    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    padding-top: 0px;

    min-width: 311px;

    background-color: lightgray;

    display: flex;
    flex-flow: column nowrap;
}

#login-form * {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#login-form h1 {
    width: 35%;
    margin-right: auto;
    margin-left: auto;

    margin-bottom: -10px;
}

#login-form button {
    width: 60%;
    margin-top: 10px;
}