#login-form {
    width: 15%;
    margin-right: auto;
    margin-left: auto;

    margin-top: 20px;
    border: 3px solid black;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 20px;

    min-width: 311px;

    background-color: rgb(203, 234, 245);
    border-radius: 20px;

    display: flex;
    flex-flow: column nowrap;
}

#login-form * {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#login-form h1 {
    width: 35%;
    margin-right: auto;
    margin-left: auto;

    margin-bottom: -10px;
}

#login-form input {
    border: 2px solid black;
    border-radius: 10px;
    aspect-ratio: 15/1;
    margin-top: -15px;
    margin-bottom: 10px;
}

#login-form button {
    width: 60%;
    aspect-ratio: 6/1;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;

    background-color: cadetblue;
}

#login-form button:hover {
    background-color: rgb(114, 183, 185);
}